{{ if .Params.ressorts }}
<div class="ressorts">
<h5>Ressorts</h5>
{{range .Params.ressorts}}
  <a class="ressort-link" href="{{ "/ressorts/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
{{end}}
</div>
{{end}}