{{ partial "header.html" . }}

{{ .Content }}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
		<hr/>
	    Zuletzt geändert von: <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a>  am: {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02.01.2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
